<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Enchères en cours</title>

 
    <link href="css/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main_container" style="    margin-left: 16px;">
            <div class="header">
                <a href="#">
                    <img src="image/logo2.png" alt="fantasy html5 template" class="templatemo-logo" style="margin-bottom: -4%;margin-left: 90px;">
                </a>
               
            </div>
            <hr style="color:#b20022;width: 1043px;margin-top: 19px;height: 2px;background-color:#b20022;margin-left:112px;">

        <div class="menu_prin">       
            <ul>
				<li><a href="index.php">Acceuil</a></li>
				<li><a href="Encheres_terminees.php">Enchéres terminées</a></li>
				<li><a href="inscription.php">Inscrivez-vous</a></li>
				<li><a href="Contact.php">Contact</a></li>
			</ul>
		</div>

        <div class="logo_bar" id="slides" style="width: 1043px;margin-top: -20px;overflow: hidden;margin-left: 112px;display: block;">
 
				<img src="image/42.jpg" >	
				<img src="image/53.jpg"  >
				<img src="image/62.jpg" >
				<img src="image/57.jpg"  >
				<img src="image/64.jpg" >
				<img src="image/65.jpg" >
				<img src="image/50.jpg" >
				<img src="image/45.jpg" >   
				<img src="image/55.jpg"  >
				<img src="image/34.jpg" >
				<img src="image/35.jpg" >
				
		</div>

	</div>
 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.slides.min.js"></script>
    <script>
    $(function(){
      $("#slides").slidesjs({
        navigation: false,
       start: 3,
        play: {
         auto: true
       }
      });
    });
  </script>
<hr style="color:#b20022;width: 1043px;margin-top:-50px;height: 2px;background-color:#b20022;margin-left: 128px;
">
</body>
</html>

   
 